<app-navbar></app-navbar>

<router-outlet></router-outlet>

<div >
    <img class="est-img"src="./assets/img/usuario.png" alt="" width="200px" height="200px">
    <img class="est-img"src="./assets/img/aplicacion.png" alt="" width="200px" height="200px">
    <img class="est-img"src="./assets/img/diseño.png" alt="" width="200px" height="200px">
    <img class="est-img"src="./assets/img/diseno2.png" alt="" width="200px" height="200px">
    <img class="est-img"src="./assets/img/desarrollo.png" alt="" width="200px" height="200px">
    <img class="est-img"src="./assets/img/list.png" alt="" width="200px" height="200px">

</div>